<!--<p>{{professores[0]}}</p>-->

<!--@for (item of professores; track $index) {
  <li>
    {{$index+1}} - {{item}}
    <button (click)="remover($index)">Remover</button>
  </li>
}-->

<h3>Lista de tarefas</h3>

<button [hidden]="todasTarefas" (click)="mostrarTarefas()">Mostrar Tudo</button>
<button [hidden]="!todasTarefas" (click)="mostrarConcluidas()">Mostrar Concluídas</button>

@if(exibeTarefas){
  @if(todasTarefas){
    @for (item of tarefas; track item.id) {
      @if(item.concluido){
        <li>{{item.id}} - {{item.nome}} - Concluída</li>
      }@else{
        <li>{{item.id}} - {{item.nome}}</li>
      }
    } 
  }@else if(!todasTarefas){
    @for (item of tarefas; track item.id) {
      @if(item.concluido){
        <li>{{item.id}} - {{item.nome}} - Concluída</li>
      }
    }
  }
}

